aiobotocore>=*
aiohttp>=*
aioitertools>=*
aiosignal>=*
alabaster>=*
anaconda-anon-usage>=*
anaconda-catalogs>=*
anaconda-client>=*
anaconda-cloud-auth>=*
anaconda-navigator>=*
anaconda-project>=*
anyio>=*
appdirs>=*
applaunchservices>=*
appnope>=*
appscript>=*
archspec>=*
argon2-cffi>=*
argon2-cffi-bindings>=*
arrow>=*
astroid>=*
astropy>=*
asttokens>=*
async-lru>=*
atomicwrites>=*
attrs>=*
Automat>=*
autopep8>=*
Babel>=*
backports.functools-lru-cache>=*
backports.tempfile>=*
backports.weakref>=*
bcrypt>=*
beautifulsoup4>=*
binaryornot>=*
black>=*
bleach>=*
bokeh>=*
boltons>=*
botocore>=*
Bottleneck>=*
Brotli>=*
certifi>=*
cffi>=*
chardet>=*
charset-normalizer>=*
click>=*
cloudpickle>=*
clyent>=*
colorama>=*
colorcet>=*
comm>=*
conda>=*
conda-build>=*
conda-content-trust>=*
conda_index>=*
conda-libmamba-solver>=*
conda-pack>=*
conda-package-handling>=*
conda_package_streaming>=*
conda-repo-cli>=*
conda-token>=*
conda-verify>=*
constantly>=*
contourpy>=*
cookiecutter>=*
cryptography>=*
cssselect>=*
cycler>=*
cytoolz>=*
dask>=*
datasets>=*
datashader>=*
debugpy>=*
decorator>=*
defusedxml>=*
diff-match-patch>=*
dill>=*
distributed>=*
distro>=*
docstring-to-markdown>=*
docutils>=*
entrypoints>=*
et-xmlfile>=*
executing>=*
fastjsonschema>=*
filelock>=*
flake8>=*
Flask>=*
fonttools>=*
frozenlist>=*
fsspec>=*
future>=*
gensim>=*
gmpy2>=*
gradescope-utils>=*
greenlet>=*
h5py>=*
HeapDict>=*
holoviews>=*
huggingface-hub>=*
hvplot>=*
hyperlink>=*
idna>=*
imagecodecs>=*
imageio>=*
imagesize>=*
imbalanced-learn>=*
importlib-metadata>=*
incremental>=*
inflection>=*
iniconfig>=*
install>=*
intake>=*
intervaltree>=*
ipykernel>=*
ipython>=*
ipython-genutils>=*
ipywidgets>=*
isort>=*
itemadapter>=*
itemloaders>=*
itsdangerous>=*
jaraco.classes>=*
jedi>=*
jellyfish>=*
Jinja2>=*
jmespath>=*
joblib>=*
json5>=*
jsonpatch>=*
jsonpointer>=*
jsonschema>=*
jsonschema-specifications>=*
jupyter>=*
jupyter_client>=*
jupyter-console>=*
jupyter_core>=*
jupyter-events>=*
jupyter-lsp>=*
jupyter_server>=*
jupyter_server_terminals>=*
jupyterlab>=*
jupyterlab-pygments>=*
jupyterlab_server>=*
jupyterlab-widgets>=*
kaleido>=*
keyring>=*
kiwisolver>=*
lazy_loader>=*
lazy-object-proxy>=*
libarchive-c>=*
libmambapy>=*
linkify-it-py>=*
llvmlite>=*
lmdb>=*
locket>=*
lxml>=*
lz4>=*
Markdown>=*
markdown-it-py>=*
MarkupSafe>=*
matplotlib>=*
matplotlib-inline>=*
mccabe>=*
mdit-py-plugins>=*
mdurl>=*
menuinst>=*
mistune>=*
more-itertools>=*
mpmath>=*
msgpack>=*
multidict>=*
multipledispatch>=*
multiprocess>=*
munkres>=*
mypy-extensions>=*
navigator-updater>=*
nbclient>=*
nbconvert>=*
nbformat>=*
nest-asyncio>=*
networkx>=*
nltk>=*
notebook>=*
notebook_shim>=*
numba>=*
numexpr>=*
numpy>=*
numpydoc>=*
opencv-python>=*
openpyxl>=*
overrides>=*
packaging>=*
pandas>=*
pandocfilters>=*
panel>=*
param>=*
parsel>=*
parso>=*
partd>=*
pathlib>=*
pathspec>=*
patsy>=*
pep8>=*
pexpect>=*
pickleshare>=*
Pillow>=*
pip>=*
pkce>=*
pkginfo>=*
platformdirs>=*
plotly>=*
pluggy>=*
ply>=*
prettytable>=*
prometheus-client>=*
prompt-toolkit>=*
Protego>=*
psutil>=*
ptyprocess>=*
pure-eval>=*
py-cpuinfo>=*
pyarrow>=*
pyasn1>=*
pyasn1-modules>=*
pycodestyle>=*
pycosat>=*
pycparser>=*
pyct>=*
pycurl>=*
pydantic>=*
PyDispatcher>=*
pydocstyle>=*
pyerfa>=*
pyflakes>=*
Pygments>=*
PyJWT>=*
pylint>=*
pylint-venv>=*
pyls-spyder>=*
pyobjc-core>=*
pyobjc-framework-Cocoa>=*
pyobjc-framework-CoreServices>=*
pyobjc-framework-FSEvents>=*
pyodbc>=*
pyOpenSSL>=*
pyparsing>=*
PyPDF2>=*
PyQt5>=*
PyQt5-sip>=*
PyQtWebEngine>=*
PySocks>=*
pytest>=*
python-dateutil>=*
python-dotenv>=*
python-json-logger>=*
python-lsp-black>=*
python-lsp-jsonrpc>=*
python-lsp-server>=*
python-slugify>=*
python-snappy>=*
pytoolconfig>=*
pytz>=*
pyviz_comms>=*
pywavelets>=*
PyYAML>=*
pyzmq>=*
QDarkStyle>=*
qstylizer>=*
QtAwesome>=*
qtconsole>=*
QtPy>=*
queuelib>=*
referencing>=*
regex>=*
requests>=*
requests-file>=*
requests-toolbelt>=*
responses>=*
rfc3339-validator>=*
rfc3986-validator>=*
rich>=*
rope>=*
rpds-py>=*
Rtree>=*
ruamel.yaml>=*
ruamel-yaml-conda>=*
s3fs>=*
safetensors>=*
scikit-image>=*
scikit-learn>=*
scipy>=*
Scrapy>=*
seaborn>=*
semver>=*
Send2Trash>=*
service-identity>=*
setuptools>=*
sip>=*
six>=*
smart-open>=*
sniffio>=*
snowballstemmer>=*
sortedcontainers>=*
soupsieve>=*
Sphinx>=*
sphinxcontrib-applehelp>=*
sphinxcontrib-devhelp>=*
sphinxcontrib-htmlhelp>=*
sphinxcontrib-jsmath>=*
sphinxcontrib-qthelp>=*
sphinxcontrib-serializinghtml>=*
spyder>=*
spyder-kernels>=*
SQLAlchemy>=*
stack-data>=*
statsmodels>=*
sympy>=*
tables>=*
tabulate>=*
tblib>=*
tenacity>=*
terminado>=*
text-unidecode>=*
textdistance>=*
threadpoolctl>=*
three-merge>=*
tifffile>=*
tinycss2>=*
tldextract>=*
tokenizers>=*
toml>=*
tomlkit>=*
toolz>=*
torch>=*
torchvision>=*
tornado>=*
tqdm>=*
traitlets>=*
transformers>=*
truststore>=*
Twisted>=*
typing_extensions>=*
tzdata>=*
uc-micro-py>=*
ujson>=*
Unidecode>=*
urllib3>=*
w3lib>=*
watchdog>=*
wcwidth>=*
webencodings>=*
websocket-client>=*
Werkzeug>=*
whatthepatch>=*
wheel>=*
widgetsnbextension>=*
wrapt>=*
wurlitzer>=*
xarray>=*
xlwings>=*
xxhash>=*
xyzservices>=*
yapf>=*
yarl>=*
zict>=*
zipp>=*
zope.interface>=*
zstandard>=*