
<div id="navbar">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid justify-content-between">

      <div class="d-flex">

        <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="/">
          Portfolio
        </a>
      </div>

      <ul style="margin-left:100px;" class="navbar-nav flex-row d-none d-md-flex mt-3">
        <li class="nav-item me-3 me-lg-1 active">
          <a class="nav-link" href="/">
            Home
          </a>
        </li>
        <li class="nav-item me-3 me-lg-1 active">
          <a class="nav-link" href="updates">
            Updates
          </a>
        </li>
        <li class="nav-item me-3 me-lg-1 active">
          <a class="nav-link" href="projects">
            Projects
          </a>
        </li>
        <li class="nav-item me-3 me-lg-1 active">
          <a class="nav-link" href="https://drive.google.com/file/d/1ZBeoStXwSgxpf14otspsC-toDw5C31nl/view?usp=sharing">
            Resume
          </a>
        </li>
        <li>
          <form id="contactForm" name="sentMessage" novalidate="novalidate"
              action="mailto:ogokhale3@gatech.edu?subject=feedback&body=message">
          <div class="form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton" style="background-color: #ff8c00;border: #343a40;" type="submit">Contact</button>
          </div>
        </form>
        </li>
      </ul>

      <ul class="navbar-nav flex-row">
            <li><a href="https://scholar.google.com/citations?user=6rJewPQAAAAJ&hl=en" class="fa fa-google"></a></li>
            <li><a href="https://www.linkedin.com/in/omkar-g/" class="fa fa-linkedin"></a></li>
            <li><a href="https://github.com/omkargokhale2001" class="fa fa-github"></a></li>
      </ul>
    </div>
  </nav>
  </div>